.book-figure {
    max-height: 200px;
    padding: 20px;
}

.book-figure-media {
    float: left;
}

.book-figure-info {
    padding-left: 100px;
}

.book-figure-info ul {
    list-style-type: none;
}

.book-figure-info-label {
    font-weight: bold;
    font-style: italic;
}

.book-figure-info-label::after {
    content: ": ";
}


.rc-scout {
max-width: 1.2rem;
max-height: 1.5rem;
position: absolute;
top: 1em;
left: 1em;
}
