.book-figure {
    max-height: 200px;
    padding: 20px;
}

.book-figure-media {
    float: left;
}

.book-figure-info {
    padding-left: 100px;
}

.book-figure-info ul {
    list-style-type: none;
}

.book-figure-info-label {
    font-weight: bold;
    font-style: italic;
}

.book-figure-info-label::after {
    content: ": ";
}


.rc-scout {
    max-width: 1.5rem;
    max-height: 1.5rem;
    position: absolute;
    top: 1.125em;
    right: 4em;
}

@media (max-width: 48em) {
    .rc-scout {
        right: auto;
        left: 1em;
    }
}

#tipue_search_input {
    background: #fff;
}
