<!-- Begin MailChimp Signup Form -->
<style type="text/css">
 #mc_embed_signup{
     background:#fff;
     clear:left;
     font:14px Helvetica,Arial,sans-serif;
     width:400px;
     text-align: center;
     margin: auto;
     line-height: 16px;
 }
 #mc_embed_signup_scroll{
     display: flex;
 }
 #mc-embedded-subscribe{
     padding: 6px 12px;
     margin: 3px 5px;
     font-size: 12px;
     border: 0px;
     background: #555555;
     color: white;
     opacity: 0.7;
 }
</style>
<div id="mc_embed_signup">
    <form action="https://muse-amuse.us12.list-manage.com/subscribe/post?u=6924dc1ec08c42f12738d464c&amp;id=f21e2877c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6924dc1ec08c42f12738d464c_f21e2877c3" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe to weekly digest" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address*">
            </div>
        </div>
    </form>
</div>

<!--End mc_embed_signup-->
