<div class="book-figure">

    <div class="book-figure-media">
        <a class="book-figure-image" href="{{url}}" target="_blank">
            <img height="150px" src="{{cover}}" alt="{{name}}" />
        </a>
    </div>

    <div class="book-figure-info">
        <ul>
            <li><span class="book-figure-info-label">Author </span><span>{{author}}</span></li>
	    <li><span class="book-figure-info-label">ISBN </span><span>{{isbn}}</span></li>
	    <li><span class="book-figure-info-label">Read </span><span>{{read}}</span></li>
	    <li><span class="book-figure-info-label">Rating </span><span>{{rating}}</span></li>
        </ul>
    </div>

</div>
