<div class="post-list">
  <% posts=site.posts %>
  <table class="post-list">
    % for post in posts[:int(count)]:
      <% date = post.date.strftime("%d %b %Y") %>
      <tr class="post-list-item">
          <td class="post-list-date">
            <time class="published dt-published"
                   itemprop="datePublished"
                   title="${date}">
              ${date}
            </time>
          </td>
          <td>
              <a href="${post.permalink()}">${post.title()|h}</a>
          </td>
      </tr>
    % endfor
  </table>
</div>
