<div class="post-list">
  <table class="post-list">
    {% if not posts %} {% set posts=site.posts %} {% endif %}
    {% set count=count|int %}
    {% for post in posts[:count] %}
      <tr class="post-list-item">
        <td>{{ post.date.strftime("%d %b %Y") }}</td><td><a href="{{post.permalink()}}">{{post.title()}}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>
