<div class="post-list">
  {% if not posts %} {% set posts=site.posts %} {% endif %}
  {% set count=count|int %}
  <table class="post-list">
    {% for post in posts[:count] %}
      <tr class="post-list-item">
          <td class="post-list-date">
              {{ post.date.strftime("%d %b %Y") }}
          </td>
          <td>
              <a href="{{post.permalink()}}">{{post.title()|e}}</a>
          </td>
      </tr>
    {% endfor %}
  </table>
</div>
